body{
	background-color: #1B1B25;
	color: white;
	font-family: 'Cinzel', cursive;
}

#header {
	padding: 90px;
}

.title hr {
	width: 75%;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;  
	border-top: 1px solid #eee;
}

.header-fonst{
	color: white;
}

#wkwkwk {
	color: black;
}

ul#menu li {
  display:inline;
}

#menu li{
	margin: 20px;
}

#organisasi {
	color: white;
}

#sumarry {
	font-size: 1.6rem;
	letter-spacing: .2rem;
}

#img-galery{
	height: 200px;
	width: 200px;
}

p{
	margin: 0 0 13px;
}

ul#social li{
	display: inline;
}

#social li{
	margin: 2px;
}

#header-fonst {
	letter-spacing: .2rem;
}

@media (min-width: 576px) {
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0;  
		border-top: 1px solid #eee;
	}
	.title hr {
		width: 75%;
	}

}